@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

.H1,
.H2,
.H3,
.H4,
.H5,
.T1,
.T2,
.T3,
.T4,
.T5,
.T6,
.C1,
.C2,
.C3,
.C4 {
  font-family: "Nanum Gothic", sans-serif;
}

.H1 {
  font-size: 3rem;
  font-weight: 800;
}

.H2 {
  font-size: 2rem;
  font-weight: 700;
}
.H3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.H4 {
  font-size: 1.2rem;
  font-weight: 700;
}
.H5 {
  font-size: 1rem;
  font-weight: 700;
}

.H6 {
  font-size: 0.9rem;
  font-weight: 700;
}

.T1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.T2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.T3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.T4 {
  font-size: 1.1rem;
  font-weight: 400;
}

.T5 {
  font-size: 1rem;
  font-weight: 400;
}

.T5-B {
  font-size: 1rem;
  font-weight: 700;
}

.T6 {
  font-size: 0.95rem;
  font-weight: 400;
}

.T6-B {
  font-size: 0.95rem;
  font-weight: 700;
}

.T7 {
  font-size: 0.9rem;
  font-weight: 400;
}

.T7-B {
  font-size: 0.9rem;
  font-weight: 700;
}

.T8 {
  font-size: 0.8rem;
  font-weight: 400;
}
.T8-B {
  font-size: 0.8rem;
  font-weight: 700;
}

.T9 {
  font-size: 0.7rem;
  font-weight: 400;
}

.svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}

.svg-icon-primary svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #87ddd0;
}

.cm-fx-base {
  display: flex;
}

.cm-fx-tr {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cm-fx-tc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cm-fx-ac {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cm-ml-abs-ts {
  margin-left: 5px;
}
.cm-mr-abs-ts {
  margin-right: 5px;
}

.cm-mt-abs-ts {
  margin-top: 5px;
}
.cm-mb-abs-ts {
  margin-bottom: 5px;
}

.cm-ml-abs-xs {
  margin-left: 10px;
}
.cm-mr-abs-xs {
  margin-right: 10px;
}

.cm-mt-abs-xs {
  margin-top: 10px;
}
.cm-mb-abs-xs {
  margin-bottom: 10px;
}

.cm-ml-abs-sm {
  margin-left: 15px;
}
.cm-mr-abs-sm {
  margin-right: 15px;
}

.cm-mt-abs-sm {
  margin-top: 15px;
}
.cm-mb-abs-sm {
  margin-bottom: 15px;
}

.cm-ml-abs-md {
  margin-left: 20px;
}
.cm-mr-abs-md {
  margin-right: 20px;
}

.cm-mt-abs-md {
  margin-top: 20px;
}
.cm-mb-abs-md {
  margin-bottom: 20px;
}

.cm-ml-abs-lg {
  margin-left: 25px;
}
.cm-mr-abs-lg {
  margin-right: 25px;
}

.cm-mt-abs-lg {
  margin-top: 25px;
}
.cm-mb-abs-lg {
  margin-bottom: 25px;
}

.root {
  width: 100%;
  min-width: 400px;
  min-height: 300px;
}

.cm-cs {
  box-shadow: 0px 0px 1px 1px rgba(217, 214, 214, 0.7);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(217, 214, 214, 0.7);
  -moz-box-shadow: 0px 0px 1px 1px rgba(217, 214, 214, 0.7);
}
.cm-ctr {
  min-width: 100px;
}

.cm-cvs {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f7f0e9;
  -webkit-box-shadow: 1px 2px 3px -3px #d8dacf;
  box-shadow: 1px 2px 3px -3px #d8dacf;
}

.cm-avatar {
  outline: 1px solid rgba(119, 119, 119, 0.24);
  outline-offset: 3px;
  border-radius: 50px;
}

.cm-avatar-sm {
  outline: 1px solid rgba(119, 119, 119, 0.24);
  outline-offset: 1px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.cm-ta-l {
  text-align: left;
  width: 100%;
}

.cm-ta-r {
  text-align: right;
  width: 100%;
}

.bdrt {
  border: 1px solid black;
}

.abs-tts {
  width: 100px;
}

.abs-ts {
  width: 150px;
}

.abs-xs {
  width: 300px;
}

.abs-sm {
  width: 600px;
}

.abs-md {
  width: 960px;
}

.abs-lg {
  width: 1280px;
}

.abs-xl {
  width: 1920px;
}

.per-ts {
  width: 50%;
}

.per-xs {
  width: 60%;
}

.per-sm {
  width: 70%;
}

.per-md {
  width: 80%;
}

.per-lg {
  width: 90%;
}

.per-xl {
  width: 100%;
}

.rem-ts {
  width: 1rem;
}

.rem-xs {
  width: 1.5rem;
}

.rem-sm {
  width: 2rem;
}

.rem-md {
  width: 3rem;
}

.rem-lg {
  width: 4rem;
}

.rem-xl {
  width: 5rem;
}

.cm-bg-secondary {
  color: #181c32;
  background-color: #e4e6ef;
  border-color: #e4e6ef;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cm-bg-secondary:hover {
  color: #181c32;
  background-color: #ccd0e1;
  border-color: #c4c8dc;
}
.cm-bg-secondary:focus,
.cm-bg-secondary.focus {
  color: #181c32;
  background-color: #ccd0e1;
  border-color: #c4c8dc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(197, 200, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(197, 200, 211, 0.5);
}
.cm-bg-secondary.disabled,
.cm-bg-secondary:disabled {
  color: #181c32;
  background-color: #e4e6ef;
  border-color: #e4e6ef;
}
.cm-bg-secondary:not(:disabled):not(.disabled):active,
.cm-bg-secondary:not(:disabled):not(.disabled).active,
.show > .cm-bg-secondary.dropdown-toggle {
  color: #181c32;
  background-color: #c4c8dc;
  border-color: #bcc1d7;
}
.cm-bg-secondary:not(:disabled):not(.disabled):active:focus,
.cm-bg-secondary:not(:disabled):not(.disabled).active:focus,
.show > .cm-bg-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(197, 200, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(197, 200, 211, 0.5);
}

.cm-btn {
  border-radius: 5px;
  border: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cm-tbx-std,
.cm-tbx-std:active,
.cm-tbx-std:focus,
.cm-tbx-std.active,
.cm-tbx-std.focus {
  border: none !important;
  outline: none !important;
  resize: none !important;
  height: 30px;
  width: 300px;
  border-radius: 5px;
}
