
.svg-icon svg {
  height: 1.5rem;
  width: 1.5rem;
}
.svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #B5B5C3;
}
.svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-icon-white svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff !important;
}
.svg-icon.svg-icon-white svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-white svg path {
  fill: #ffffff !important;
}
.svg-icon.svg-icon-primary svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #0BB783 !important;
}
.svg-icon.svg-icon-primary svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-primary svg path {
  fill: #0BB783 !important;
}
.svg-icon.svg-icon-secondary svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #181C32 !important;
}
.svg-icon.svg-icon-secondary svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-secondary svg path {
  fill: #181C32 !important;
}
.svg-icon.svg-icon-success svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #1BC5BD !important;
}
.svg-icon.svg-icon-success svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-success svg path {
  fill: #1BC5BD !important;
}
.svg-icon.svg-icon-info svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #8950FC !important;
}
.svg-icon.svg-icon-info svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-info svg path {
  fill: #8950FC !important;
}
.svg-icon.svg-icon-warning svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #FFA800 !important;
}
.svg-icon.svg-icon-warning svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-warning svg path {
  fill: #FFA800 !important;
}
.svg-icon.svg-icon-danger svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #F64E60 !important;
}
.svg-icon.svg-icon-danger svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-danger svg path {
  fill: #F64E60 !important;
}
.svg-icon.svg-icon-light svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #F3F6F9 !important;
}
.svg-icon.svg-icon-light svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-light svg path {
  fill: #F3F6F9 !important;
}
.svg-icon.svg-icon-dark svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #181C32 !important;
}
.svg-icon.svg-icon-dark svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-dark svg path {
  fill: #181C32 !important;
}
.svg-icon.svg-icon-dark-75 svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #3F4254 !important;
}
.svg-icon.svg-icon-dark-75 svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-dark-75 svg path {
  fill: #3F4254 !important;
}
.svg-icon.svg-icon-dark-65 svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #5E6278 !important;
}
.svg-icon.svg-icon-dark-65 svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-dark-65 svg path {
  fill: #5E6278 !important;
}
.svg-icon.svg-icon-dark-50 svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #7E8299 !important;
}
.svg-icon.svg-icon-dark-50 svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-dark-50 svg path {
  fill: #7E8299 !important;
}
.svg-icon.svg-icon-dark-25 svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #D1D3E0 !important;
}
.svg-icon.svg-icon-dark-25 svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-dark-25 svg path {
  fill: #D1D3E0 !important;
}
.svg-icon.svg-icon-muted svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #B5B5C3 !important;
}
.svg-icon.svg-icon-muted svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon.svg-logo-muted svg path {
  fill: #B5B5C3 !important;
}
.svg-icon.svg-icon-sm svg {
  height: 1.25rem !important;
  width: 1.25rem !important;
}
.svg-icon.svg-icon-md svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.svg-icon.svg-icon-lg svg {
  height: 1.75rem !important;
  width: 1.75rem !important;
}
.svg-icon.svg-icon-xl svg {
  height: 2rem !important;
  width: 2rem !important;
}
.svg-icon.svg-icon-xxl svg {
  height: 2.25rem !important;
  width: 2.25rem !important;
}
.svg-icon.svg-icon-1x svg {
  height: 1rem !important;
  width: 1rem !important;
}
.svg-icon.svg-icon-2x svg {
  height: 2rem !important;
  width: 2rem !important;
}
.svg-icon.svg-icon-3x svg {
  height: 3rem !important;
  width: 3rem !important;
}
.svg-icon.svg-icon-4x svg {
  height: 4rem !important;
  width: 4rem !important;
}
.svg-icon.svg-icon-5x svg {
  height: 5rem !important;
  width: 5rem !important;
}
.svg-icon.svg-icon-6x svg {
  height: 6rem !important;
  width: 6rem !important;
}
.svg-icon.svg-icon-7x svg {
  height: 7rem !important;
  width: 7rem !important;
}
.svg-icon.svg-icon-8x svg {
  height: 8rem !important;
  width: 8rem !important;
}
.svg-icon.svg-icon-9x svg {
  height: 9rem !important;
  width: 9rem !important;
}
.svg-icon.svg-icon-10x svg {
  height: 10rem !important;
  width: 10rem !important;
}
.svg-icon.svg-icon-full svg {
  height: 100% !important;
  width: 100% !important;
}